/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main {
  max-width: 60%;
  margin: 0 auto
}

.form {
  margin-top: 20px;
}

.radioMale {
  margin-right: 15px;
  margin-left: 15px;
}

.childrenHeader {
  margin-top: 20px;
}

#upload_file_label {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 14px;
  /* Style as you please, it will become the visible UI component. */
}

#upload_file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.separator {
  height: 25px;
}

.tooltip {
  background: tomato;
  display: block;
  padding: 1rem;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  width: 10rem;
  transform-style: preserve-3d;
  transform: translate(0%, 15%);
  top: 100%;
  left: auto;
  right: auto;
  bottom: auto;
  z-index: 100;
  will-change: opacity, visibility;
      transition: opacity 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.tooltip:after {
  content: '';
  position: absolute;
  left:50%;
  margin-left: -5px;
  top: -9px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid tomato;
}


input[value=""][placeholder*=" "]:not([class*="tooltip_detail"]) ~ .tooltip {
  visibility: visible;
  opacity: 1;
}

/* input:valid:not(:placeholder-shown) ~ .tooltip {
  transition: opacity 0.3s, visibility 0s 0.3s;
} */

/* Красная рамка для обязательных полей */
/* input:required {
  border: 1px solid red; 
} */

/* input:invalid:not(:placeholder-shown) {border-color: red;} */
/* input:valid:not(:placeholder-shown) {border-color: black;} */

/* .error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
} */

@media (max-width: 992px)
{
  .main {
      max-width: 80%;
  }
}

.childrenBlock {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}